<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MailingSystem</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dzire.mailing.login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComposeServlet</servlet-name>
    <servlet-class>com.dzire.mailing.compose.controller.ComposeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeServlet</servlet-name>
    <url-pattern>/ComposeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>com.dzire.mailing.inbox.controller.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DraftServlet</servlet-name>
    <servlet-class>com.dzire.mailing.draft.controller.DraftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftServlet</servlet-name>
    <url-pattern>/DraftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentMailServlet</servlet-name>
    <servlet-class>com.dzire.mailing.sentmail.controller.SentMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMailServlet</servlet-name>
    <url-pattern>/SentMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrashServlet</servlet-name>
    <servlet-class>com.dzire.mailing.trash.controller.TrashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrashServlet</servlet-name>
    <url-pattern>/TrashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StarredServlet</servlet-name>
    <servlet-class>com.dzire.mailing.starred.controller.StarredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarredServlet</servlet-name>
    <url-pattern>/StarredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SentMailControlServlet</servlet-name>
    <servlet-class>com.dzire.mailing.sentmail.controller.SentMailControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMailControlServlet</servlet-name>
    <url-pattern>/SentMailControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InboxControlServlet</servlet-name>
    <servlet-class>com.dzire.mailing.inbox.controller.InboxControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxControlServlet</servlet-name>
    <url-pattern>/InboxControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DraftControlServlet</servlet-name>
    <servlet-class>com.dzire.mailing.draft.controller.DraftControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftControlServlet</servlet-name>
    <url-pattern>/DraftControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StarredControlServlet</servlet-name>
    <servlet-class>com.dzire.mailing.starred.controller.StarredControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarredControlServlet</servlet-name>
    <url-pattern>/StarredControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrashControlServlet</servlet-name>
    <servlet-class>com.dzire.mailing.trash.controller.TrashControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrashControlServlet</servlet-name>
    <url-pattern>/TrashControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenInboxMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.inbox.controller.OpenInboxMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenInboxMessageServlet</servlet-name>
    <url-pattern>/OpenInboxMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenSentMailMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.sentmail.controller.OpenSentMailMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSentMailMessageServlet</servlet-name>
    <url-pattern>/OpenSentMailMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenDraftMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.draft.controller.OpenDraftMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenDraftMessageServlet</servlet-name>
    <url-pattern>/OpenDraftMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenStarredMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.starred.controller.OpenStarredMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenStarredMessageServlet</servlet-name>
    <url-pattern>/OpenStarredMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyForwardServlet</servlet-name>
    <servlet-class>com.dzire.mailing.replyforward.controller.ReplyForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyForwardServlet</servlet-name>
    <url-pattern>/ReplyForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInboxMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.inbox.controller.DeleteInboxMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInboxMessageServlet</servlet-name>
    <url-pattern>/DeleteInboxMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSentMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.sentmail.controller.DeleteSentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSentMessageServlet</servlet-name>
    <url-pattern>/DeleteSentMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDraftMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.draft.controller.DeleteDraftMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDraftMessageServlet</servlet-name>
    <url-pattern>/DeleteSentMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStarredMessageServlet</servlet-name>
    <servlet-class>com.dzire.mailing.starred.controller.DeleteStarredMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStarredMessageServlet</servlet-name>
    <url-pattern>/DeleteStarredMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dzire.mailing.register.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.dzire.mailing.json.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>